body {
    background-color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    padding: 3%;
    font-family: 'Cutive Mono', monospace;
    font-size: 3em;
}

h2 {
    text-transform: uppercase;
    font-family: 'Cutive Mono', monospace;
    margin-top: 2em;
}

h3 {
    text-transform: uppercase;
    font-family: 'Cutive Mono', monospace;
}

main {
    margin: auto;
    width: 66vw;
    background-color: #fff;
}

.brand-heart {
    max-width: 8%;
    margin: auto;
}

.button {
    text-transform: uppercase;
    color: #716045;
    border: solid #716045 1px;
    max-width: fit-content;
    padding: 1em 2em;
    box-shadow: 1px 2px 5px #716045;
}

a {
    text-decoration: none;
}

/*********** HEADER **************/

header {
    background-color: #716045;
    position: sticky;
/*     top: 0px; !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
 */    padding-top: 7px;
    box-shadow: 0px 3px 5px #3d3425;
    font-family: 'Cutive Mono', monospace;
    z-index: 5;
}


.header-content {
    margin: auto;
    width: 66%;
    background-color: #716045;
    display: flex;
    justify-content: space-between;
}

nav {
    display: inline-flex;
    width: 40%;
    justify-content: space-evenly;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;

}

nav a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4em;
}

/**** make the menu jump at 1000 and below ****/
.current {
    text-decoration: underline;
}

.so-me {
    max-width: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: flex-end;
    margin-top: auto;
    margin-bottom: auto;
}

.so-me-logo {
    max-width: 80%;
}

.logo {
    max-width: 30%;
}

.logo img {
    max-width: 100%;
}


/***** FOOTER *****/

footer {
    background-color: #c5d8c8;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin-top: 10vh;

}

/*** INDEX ***/




.top-img {
    width: 100%;
    max-height: 25vh;
    object-fit: cover;
    filter:brightness(70%);

}
.top-logo{
        position: absolute;
        top: 80px;
        max-width: 50%;
        margin-right: 50%;
        margin-left: 8%;
        z-index: 3;
}


.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cutive Mono', monospace;
}

.welcome .foodie {
    display: flex;
    position: relative;
    top: 60px;
    left: -85px;
    max-width: 200px;
}

.welcome p {
    font-size: 2em;
}

.welcome img {
    max-width: 15%;
}

.camille {
    width: 150%;
    position: relative;
    left: -25%;
    margin: 10% 0;
}

.camille-img {
    width: 100%;
}

.camille p {
    font-family: 'Cutive Mono', monospace;
    font-weight: 900;
    font-size: 2em;
    max-width: 67%;
    margin: auto;
    position: relative;
    bottom: 250px;
    background-color: #ffffff92;
}

.philosophy {
    background-color: #c5d8c8;
    width: 100%;
    position: relative;
    left: -25%;
    padding: 0% 25%;
    margin: 15% 0%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.philosophy-img {
    max-width: 100%;
    position: relative;
    top: -100px
}

.philosophy div {
    padding: 3em;
    position: relative;
    top: -120px;
    text-align: center;
}

.philosophy h2 {
    padding-top: 0;
}

.philosophy p {
    padding: 3em 0;
}



/**** ABOUT ****/

.about-creator-img {
    max-width: 100%;
}

.about-text {
    max-width: 100%;
    padding: 10%;
    margin: auto;
}

.about-grid {
    display: grid;
    grid-gap: 5%;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 20%;
}


/***** BLOG LIST *****/





.list-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0% 5%;
    grid-template-areas:
        'list-heading list-heading'
        'list-img list-date'
        'list-img list-text'
        'list-img list-button'
    ;
    margin-bottom: 5vh;
}

.list-grid h2 {
    grid-area: list-heading;
}

.list-grid button {
    grid-area: list-button;
}

.list-img-container {
    grid-area: list-img;
}

.list-img-container p {
    display: none;
}

.list-grid figure {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin: 0;
}

.list-grid img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.list-grid .date {
    grid-area: list-date;
}

.list-grid .text {
    grid-area: list-text;
}

#more-results-btn {
    cursor: pointer;
}

.list-more-results-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.list-more-posts-container {
    display: none; 
}





/***** SPECIFIC POST*****/

.spec-back {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.spec-content figure {
    margin: 0;
    max-width: 50%;
    float: left;
    padding-right: 20px;
}

.spec-content figure img {
    max-width: 100%;
    height: auto;
}

.spec-container .date {
    text-align: end;
}

.spec-content .wp-block-image {
    cursor: pointer;
}

.sign-off {
    max-width: 300px;
    display: grid;
    grid-gap: 0px;
    padding-top: 2em;
    grid-template-areas:
        'bye bye'
        'name heart';
}

.sign-off .bye {
    grid-area: bye;
}

.sign-off .name {
    grid-area: name;
}

.sign-off img {
    grid-area: heart;
    max-width: 20%;
    margin: 0;
}

.modal {
    display: none;
    cursor: pointer;
    position: fixed;
    z-index: 4;
    padding-top: 120px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000cc;
}


.modal img {
    margin: auto;
    display: block;
    width: auto;
    max-height: 70vh;
    max-width: 90%;
    height: auto;
  }
/* .modal img {
    margin: auto;
    display: block;
    width: auto;
    max-height: 70vh;
    max-width: 800px;
} */


.modal p {
    display: none;
}




/*** CONTACT ***/

.contact {
    margin-bottom: 10vh;
}

.contact p {
    float: left;
}

.contact img {
    float: left;
    max-width: 25px;
}

form {
    background-color: #c5d8c8;
    color: #000000;
    padding: 20px 25%;
    margin: 100px 0;
    font-size: 0.9em;
}

form input {
    margin-bottom: 2em;
    width: 100%;
    height: 40px;
}

form label {
    margin-top: 0.9em;
}

form button {
    margin-top: 1em;
    text-transform: uppercase;
    color: #716045;
    border: solid #716045 1px;
    padding: 1em 2em;
    box-shadow: 1px 0px 5px #473c2b;
    width: 102%;
}

form textarea {
    width: 100%;
    height: 150px;
}

.form-error {
    display: none;
    color: #b00;

}